<div layout="column">
	<gx-element key="container_{{container.id}}" container-id="{{container.id}}" data-json="{{container.to_json|escape('html_attr')}}">
		{% for component in container.components %}
	        <div class="component" ng-class="{'md-whiteframe-z1': editMode}" id="component_{{component.id}}" component-id="{{component.id}}" layout="row">
	        	<div flex>
					{{ include(component_types[component.getType].play_url, {'container': container, 'component': component}) }}
				</div>
				<div ng-show="editMode" class="component-handler"></div>
			</div>
		{% endfor %}
	</gx-element>
	{{ include('GXHomeAutomationBundle:Component:add_component.html.twig', {'container': container, 'component_types': component_types}) }}
</div>
