{% extends "GXHomeAutomationBundle::base.html.twig" %}

{% block title %}{{home.name}}{% endblock %}

{% block stylesheets %}
	{% stylesheets
		'bundles/gxhomeautomation/css/jquery-ui.min.css'
        'bundles/gxangularmaterial/css/patternLock.css'
        'bundles/gxhomeautomation/css/main.css'
        'bundles/gxhomeautomation/css/page.css'
        'bundles/gxhomeautomation/css/animations.css'
        'bundles/gxhomeautomation/css/jquery.temperatureloader-0.1.css'
        'bundles/gxhomeautomation/css/jquery.planer-0.1.css'
        filter='?phpcssembed,cssrewrite' %} {# filter='?phpcssembed,cssrewrite' #}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{% javascripts
	    '@GXHomeAutomationBundle/Resources/public/js/jquery-2.1.1.min.js'
	    '@GXHomeAutomationBundle/Resources/public/js/jquery-ui.min.js'
	    '@GXAngularMaterialBundle/Resources/public/js/patternLock.min.js'
		'@GXHomeAutomationBundle/Resources/public/js/jquery.temperatureloader-0.1.js'
		'@GXHomeAutomationBundle/Resources/public/js/jquery.planer-0.1.js'
		'@GXHomeAutomationBundle/Resources/public/js/jquery.countdown.js'
		'@GXHomeAutomationBundle/Resources/public/js/utils.js'
		'@GXAngularMaterialBundle/Resources/public/js/gridList.js'
		'@GXAngularMaterialBundle/Resources/public/js/jquery.gridList.js'
		'@GXAngularMaterialBundle/Resources/public/js/jquery.ui.touch-punch.min.js'
		'@GXAngularMaterialBundle/Resources/public/js/gx-grid-stack.js'
		 %} {# filter='?closure' #}
	    <script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script>
		var gridStack = null;
		var loaderUrl = 'gridlist_card'; // TODO !
		var app = angular.module('GXHomeAutomationApp', ['ngMaterial', 'ngMessages'])

		app
		{{ include('GXHomeAutomationBundle::ng-config.js.twig') }}
		.controller("MainCtrl", function($rootScope, $scope, $mdSidenav, $window) {

			// toolbar actions
			$scope.toolbar = {
				logout: function() {
					$window.location.href = '{{ path("_home_logout") }}';
				},
				goToPage: function(pageId) {
					$window.location.href = '{{ path("_home_page_main", {'home_id': home.id, 'page_id': 999999 }) }}'.replace(/999999/, pageId);
				}
			};

			// edit mode
			$rootScope.editMode = {
				show: false,
				columnCount: {{ page.getLayout() }}
			};
			$scope.editMode = $rootScope.editMode;
			$scope.$watch('editMode.columnCount', function() {
				if (gridStack !== null) // cancel effect at init
					gridStack.setLanes($scope.editMode.columnCount);
			});

			// refresh features
			$rootScope.refresh = []; // functions to execute to force refresh of a card.
			this.refreshAll = function() {
				for (i = 0; i < $rootScope.refresh.length; i++) {
					if (typeof $rootScope.refresh[i] == 'function')
						$rootScope.refresh[i]();
				}
			};

			// sidenav new widgets
			$rootScope.addWidgetsPanel = {
				toggle: function() {
					$mdSidenav('addWidgetsSidenav').toggle();
				},
				isOpen: function() {
					return $mdSidenav('addWidgetsSidenav').isOpen();
				}
			};
			this.toggleAddWidgets = $scope.addWidgetsPanel.toggle;
		});

		// Angular Add widgets sidenav controller
		app.controller('AddWidgetsCtrl', function ($scope, $mdSidenav) {
			$scope.close = function () {
				$mdSidenav('addWidgetsSidenav').close();
			};
		});

		// init
		$(function() {
			// TODO
		});
	</script>
{% endblock %}

{% block body %}
<div layout="column" layout-fill style="overflow:hidden;" ng-controller="MainCtrl as MainCtrl">

	<md-toolbar md-scroll-shrink>
		<div class="md-toolbar-tools" ng-cloak>

			<md-button aria-label="Logout" tabindex="501">
				<md-icon><img src="{{ asset('bundles/gxangularmaterial/images/android_core_holodark/ic_action_unread.png') }}" width="24" height="24" /></md-icon>
				(0)
			</md-button>
			{# TODO !110: notif center et icones de notifs ! #}
			[notifs]

			<span flex></span>
			<h2>
				<md-icon class="icon-img-centered"><img src="{{ asset('bundles/gxangularmaterial/images/home.png') }}" width="24" height="24" /></md-icon>
				<span>{{home.name}} ~ {{page.name}}</span>
			</h2>
			<span flex></span>

			{# TODO !110: si trop nombreux, doit passer dans un menu deroulant ! #}
			{% for other_page in home.getPages() %}
				{% if other_page.id != page.id %}
					<md-button aria-label="Homes" ng-click="toolbar.goToPage({{other_page.id}})" tabindex="502">
						<md-icon><img src="{{ asset('bundles/gxangularmaterial/images/android_core_holodark/ic_action_next_item.png') }}" width="24" height="24" /></md-icon>
						{{other_page.name}}
					</md-button>
				{% endif %}
			{% endfor %}

			<md-button aria-label="Logout" ng-click="toolbar.logout()" tabindex="503">
				<md-icon><img src="{{ asset('bundles/gxangularmaterial/images/android_core_holodark/ic_lock_power_off.png') }}" width="24" height="24" /></md-icon>
				Logout
			</md-button>
		</div>
	</md-toolbar>

	<md-content flex>
		<div flex>
			LA !
		</div>
	</md-content>

	<md-fab-toolbar class="md-fab-bottom-right" style="width:100%" md-direction="left" ng-cloak>
		<md-fab-trigger class="align-with-text">
			<md-button aria-label="menu" class="md-fab" ng-class="{{ '{' }}'md-hue-2': editMode.show == false, 'md-hue-1': editMode.show == true{{ '}' }}">
				<md-icon><img class="fab-button" src="{{ asset('bundles/gxangularmaterial/images/android_core_holodark/ic_action_edit.png') }}" width="24" height="24" /></md-icon>
			</md-button>
		</md-fab-trigger>
		<md-toolbar>
			<md-fab-actions class="md-toolbar-tools">
				<md-switch class="md-hue-1" aria-label="Switch to edit mode" ng-model="editMode.show">
					Edit mode
				</md-switch>
				<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

				<span ng-show="editMode.show">&nbsp;Colmuns</span>
				<md-slider ng-show="editMode.show" flex="no-shrink" style="width: 10em;"
						   md-discrete ng-model="editMode.columnCount" step="1" min="3" max="7" aria-label="columnCount">
				</md-slider>
				<span ng-show="editMode.show">&nbsp;&nbsp;&nbsp;&nbsp;</span>

				<md-button aria-label="Add card" ng-click="MainCtrl.toggleAddWidgets()">
					<md-icon><img src="{{ asset('bundles/gxangularmaterial/images/android_core_holodark/ic_action_add_to_queue.png') }}" width="24" height="24" /></md-icon>
					Add card
				</md-button>

				<md-button aria-label="Refresh" ng-click="MainCtrl.refreshAll()">
					<md-icon><img src="{{ asset('bundles/gxangularmaterial/images/android_core_holodark/ic_action_refresh.png') }}" width="24" height="24" /></md-icon>
					Refresh
				</md-button>
			</md-fab-actions>
		</md-toolbar>
	</md-fab-toolbar>

</div>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="addWidgetsSidenav" ng-cloak>
	<md-toolbar class="md-theme-light">
		<h1 class="md-toolbar-tools">Add a widget</h1>
	</md-toolbar>
	<md-list ng-controller="AddWidgetsCtrl as AddWidgetsCtrl">
		<md-list-item ng-click="navigateTo('data usage', $event)">
			<md-icon md-svg-icon="cached"></md-icon>
			<p>Data Usage</p>
		</md-list-item>
		<md-divider></md-divider>
		<md-list-item ng-click="navigateTo('data usage', $event)">
			<md-icon md-svg-icon="cached"></md-icon>
			<p>Data Usage</p>
		</md-list-item>
		<md-list-item ng-click="navigateTo('data usage', $event)">
			<md-icon md-svg-icon="cached"></md-icon>
			<p>Data Usage</p>
		</md-list-item>
		<md-list-item ng-click="navigateTo('data usage', $event)">
			<md-icon md-svg-icon="cached"></md-icon>
			<p>Data Usage</p>
		</md-list-item>
		<md-divider></md-divider>
		<md-list-item>
			<md-button ng-click="close()">
				Close Sidenav Right
			</md-button>
		</md-list-item>
	</md-list>
</md-sidenav>

{% endblock %}
