<md-card class="lighter edit-animate-show" ng-show="editMode">
	<form id="new_component_{{ container.id }}" class="new_component" gx-container="{{ container.id }}">
		<label for="new_component_select">New component: </label>
		<select id="new_component_select_{{ container.id }}" label="New component">
			<option value="">Select a component type</option>
			{% for component in component_types %}
				<option value="{{ component.id }}">{{ component.name }}</option>
			{% endfor %}
		</select>
		<md-button class="md-raised md-primary" aria-label="Add">
			Add
		</md-button>
	</form>
</md-card>
