<md-dialog class="lighter component_edit_dialog" aria-label="Component parameters">
  <md-content>
  	<form name="componentForm" ng-init="component.id={{ component.id }}">
  		<fieldset class="md-whiteframe-z1 lighter" layout="column">
  			<legend>Scenario Play</legend>
	  		<div layout="row" layout-align="start center">
		  		<md-input-container flex class="very_long">
		      		<label>Title</label>
		      		<input ng-model="component.title" required name="component_title" md-maxlength="98"
		      			ng-init="component.title='{{ component.title|replace({'\'':'\\\''}) }}'" />
		    	</md-input-container>
		    	<div>
		    		TODO !8: icon support
		    	</div>
		    </div>
	  		<md-input-container class="very_long">
	      		<label>Description</label>
	      		<textarea ng-model="component.description" columns="1" md-maxlength="482"
	      			ng-init="component.description='{{ component.description|replace({'\'':'\\\''}) }}'"></textarea>
	    	</md-input-container>
	    	
	    	<br/>
	    	<div layout="row" layout-align="start center">
	    		<div flex>
			    	<label>Linked to scenario: </label><br/>
					<select id="edit_scenario_play_{{ component.id }}_scenario_id" ng-model="component.scenario_id"
						ng-init="component.scenario_id='{{ component.getForeignId1 }}'" label="Scenario">
						{% for scenario in scenario_list if scenario.typeLabel == 'onDemand' %}
					  		<option value="{{ scenario.scenarioId }}">{{ scenario.label }}</option>
					  	{% endfor %}
					</select>
				</div>
				<md-input-container flex>
			        <label>Delayed play action (in minutes)</label>
			        <input required type="number" step="any" name="component_delay" ng-model="component.delay" min="0" max="1440" required
			        	ng-init="component.delay={{ component.getDelay1 }}">
			        <div ng-messages="componentForm.component_delay.$error">
			          <div ng-message="required">If you want immediate play action, please indicate 0.</div>
			          <div ng-message="min">Impossible to go back in time, Marty!</div>
			          <div ng-message="max">1440 minutes max. Equivalent to 24hrs.</div>
			        </div>
			    </md-input-container>
			</div>			
		</fieldset>
	  	
	  	<br/>
	  	<fieldset class="md-whiteframe-z1 darker" layout="column">
  			<legend>Options</legend>
	    	<div layout="row" layout-align="start center">
			  	<div flex="50">
				  	<md-radio-group ng-model="component.option"
				  			ng-init="component.option={{ component.getOption1 }}">
						<md-radio-button value="0" ng-click="component.delay2=0;component.scenario_id_2=null">None.</md-radio-button>
						<md-radio-button value="1" ng-click="component.scenario_id_2=null">Keep active state for x minutes after played.</md-radio-button>
						<md-radio-button value="2">Play another scenario after x minutes.</md-radio-button>
					</md-radio-group>
				</div>
				<md-input-container flex="50" ng-show="component.option==1">
			        <label>Active state duration (in minutes)</label>
			        <input required type="number" step="any" name="component_delay_2" ng-model="component.delay2" min="1" max="1440" required
			        	ng-init="component.delay2={{ component.getDelay2 }}">
			        <div ng-messages="componentForm.component_delay_2.$error">
			          <div ng-message="required">If you does not want active state on the button, then choose another option!</div>
			          <div ng-message="min">Minimum 1 minute. Cannot work in seconds.</div>
			          <div ng-message="max">1440 minutes max. Equivalent to 24hrs.</div>
			        </div>
			    </md-input-container>
			    <div flex="50" ng-show="component.option==2" layout="column" layout-align="center start">
			    	<md-input-container flex>
				        <label>Wait to play second scenario (in minutes)</label>
				        <input required type="number" step="any" name="component_delay_2" ng-model="component.delay2" min="1" max="1440" required
				        	ng-init="component.delay2={{ component.getDelay2 }}">
				        <div ng-messages="componentForm.component_delay_2.$error">
				          <div ng-message="required">If you does not want to delay a second scenario, then choose another option!</div>
				          <div ng-message="min">Minimum 1 minute. Cannot work in seconds.</div>
				          <div ng-message="max">1440 minutes max. Equivalent to 24hrs.</div>
				        </div>
				    </md-input-container>
				    <div flex>
				    	<label>Linked to scenario: </label><br/>
						<select id="edit_scenario_play_{{ component.id }}_scenario_id_2" ng-model="component.scenario_id_2"
							ng-init="component.scenario_id_2='{{ component.getForeignId2 }}'" label="Scenario">
							{% for scenario in scenario_list if scenario.typeLabel == 'onDemand' %}
						  		<option value="{{ scenario.scenarioId }}">{{ scenario.label }}</option>
						  	{% endfor %}
						</select>
					</div>
			    </div>
			</div>
		</fieldset>
	  	
  	</form>
  </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">Cancel</md-button>
    <md-button ng-click="save()" class="md-primary md-raised">Save</md-button>
  </div>
</md-dialog>