{% extends "GXHomeAutomationBundle:Component:component_base.html.twig" %}


{% block html_content %}
	<md-button class="md-raised component-button" flex
			ng-disabled="{% if component.getForeignId1 is null %}true{% else %}(button1.state == 1){% endif %}"
			layout="row" layout-align="start center" ng-class="{'md-primary': (button1.state == 2), 'md-accent' : (button1.state == 3)}"
			ng-click="button1.scenarioActivation()"
			style="{% if component.getForeignId2 is not empty and (component.getOption1 > 0) %}border-top-right-radius:inherit; border-bottom-right-radius:inherit;{% endif %}margin:1px;">
		<div layout="row" layout-align="space-around center">
			<md-icon aria-label="custom" class="material-icons button-icon-48">pan_tool</md-icon>
			<div layout="column">
				<h2 style="text-overflow: ellipsis; white-space: normal;">
					{{ component.title }}
				</h2>
				{% if component.description %}
					<div class="description" style="text-transform: none;text-overflow: ellipsis; white-space: normal;">
						{{ component.description }}
					</div>
				{% endif %}

			</div>
		</div>
	</md-button>





	{# TODO !5: les 3 autres buttons, soit par copier-coller, soit par boucle... attention, style="" diffère a chaque fois. #}
		{#% if component.getForeignId2 is not empty %}
		<md-button class="md-raised component-button" flex
				ng-disabled="{% if component.getForeignId2 is null %}true{% else %}({{ scopeComponent }}.state_2 == 1){% endif %}"
				layout="row" layout-align="start center" ng-class="{'md-primary': ({{ scopeComponent }}.state_2 == 2), 'md-accent' : ({{ scopeComponent }}.state_2 == 3)}"
				ng-click="scenarioActivation({{ component.getContainer.id }}, {{ component.getContainerPosition }}, 2)"
				style="{% if radioMode %}border-top-left-radius:inherit; border-bottom-left-radius:inherit;{% endif %}{% if component.getForeignId3 is not empty and radioMode %}border-top-right-radius:inherit; border-bottom-right-radius:inherit;{% endif %}margin:1px;"
				>
			<div flex="15"> <small>[ic]</small> </div>
			<div flex layout="column">
				<div flex>
					{{ component.getTitle2 }}
				</div>
				{% if component.getDescription2 %}
				<div flex class="description" style="text-overflow: ellipsis">
					{{ component.getDescription2 }}
				</div>
				{% endif %}
			</div>
		</md-button>
		{% endif %}
		{% if component.getForeignId3 is not empty %}
		<md-button class="md-raised component-button" flex
				ng-disabled="{% if component.getForeignId3 is null %}true{% else %}({{ scopeComponent }}.state_3 == 1){% endif %}"
				layout="row" layout-align="start center" ng-class="{'md-primary': ({{ scopeComponent }}.state_3 == 2), 'md-accent' : ({{ scopeComponent }}.state_3 == 3)}"
				ng-click="scenarioActivation({{ component.getContainer.id }}, {{ component.getContainerPosition }}, 3)"
				style="{% if radioMode %}border-top-left-radius:inherit; border-bottom-left-radius:inherit;{% endif %}{% if component.getForeignId4 is not empty and radioMode %}border-top-right-radius:inherit; border-bottom-right-radius:inherit;{% endif %}margin:1px;"
				>
			<div flex="15"> <small>[ic]</small> </div>
			<div flex layout="column">
				<div flex>
					{{ component.getTitle3 }}
				</div>
				{% if component.getDescription3 %}
				<div flex class="description" style="text-overflow: ellipsis">
					{{ component.getDescription3 }}
				</div>
				{% endif %}
			</div>
		</md-button>
		{% endif %}
		{% if component.getForeignId4 is not empty %}
		<md-button class="md-raised component-button" flex
				ng-disabled="{% if component.getForeignId4 is null %}true{% else %}({{ scopeComponent }}.state_4 == 1){% endif %}"
				layout="row" layout-align="start center" ng-class="{'md-primary': ({{ scopeComponent }}.state_4 == 2), 'md-accent' : ({{ scopeComponent }}.state_4 == 3)}"
				ng-click="scenarioActivation({{ component.getContainer.id }}, {{ component.getContainerPosition }}, 4)"
				style="{% if radioMode %}border-top-left-radius:inherit; border-bottom-left-radius:inherit;{% endif %}margin:1px;"
				>
			<div flex="15"> <small>[ic]</small> </div>
			<div flex layout="column">
				<div flex>
					{{ component.getTitle4 }}
				</div>
				{% if component.getDescription4 %}
				<div flex class="description" style="text-overflow: ellipsis">
					{{ component.getDescription4 }}
				</div>
				{% endif %}
			</div>
		</md-button>
		{% endif % #}
{% endblock %}


{% block controller_script %}
	$scope.button1 = {
		state: 1,
		scenarioActivation: function() {
	{# TODO !4 #}
		},
		initState: function() {
			var now = Date.now()/1000;
			var lastAction = $scope.component.last_action;
			var delay1 = $scope.component.delay_1*60;
			var delay2 = $scope.component.delay_2*60;
			if (lastAction + delay1 > now) {
	{# TODO !3 #}
			} else if (lastAction + delay1 + delay2 > now) {
	{# TODO !3 #}
			} else {
	{# TODO !3 #}
			}
		}
	};
	$scope.button1.initState();
{% endblock %}


{% block configure_html_content %}
	{# TODO !1: reprendre depuis le vieux tpl et le remettre a jour. #}
{% endblock %}